.orders-layout {
    display: flex;
    height: 100vh;
    overflow: hidden; 
}

.orders-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--base-200);
    margin-left: 260px;
}

.orders-header {
    padding: 30px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--base-300);
    background: var(--base-100);
}

.orders-header h2 {
    font-size: 32px;
    color: var(--accent);
}

.search-bar {
    width: 40%;
    padding: 15px 20px;
    border-radius: 25px;
    border: 1px solid var(--secondary);
    background: var(--base-200);
    color: var(--base-content);
}

.orders-content {
    display: flex;
    flex: 1; 
    overflow: hidden;
}

.scrollable-area {
    flex: 1;
    overflow-y: auto; 
    max-width: 400px;
    padding: 30px 40px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 350px;
}

.order-summary {
    flex: 1;
    background: var(--base-100);
    border-left: 1px solid var(--base-300);
    padding: 30px;
}

.summary-content h3 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--base-300);
}

.product-card {
    width: 100%;
    background: var(--base-100);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--base-300);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary);
}

.quantity-input {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.quantity-input input {
    padding: 6px;
    border-radius: 15px;
    border: 1px solid var(--base-300);
    width: 50%;
}

.add-button {
    background: var(--primary);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .orders-layout {
        height: auto;
        display: block; 
    }

    .orders-container {
        margin-left: 0; 
        min-height: 100vh;
    }

    .orders-header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .orders-header h2 {
        font-size: 24px;
    }

    .search-bar {
        width: 100%; 
    }

    .orders-content {
        flex-direction: column;
    }

    .scrollable-area {
        max-width: 100%; 
        padding: 20px;
        
    }

    .order-summary {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--base-300);
        position: relative;
        padding: 20px;
    }
}